<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebScrapping App</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Webscrapping DHL-Colissimo-UPS</h1>
         <a href="https://rocky-springs-71658.herokuapp.com/colissimo"
            class="btn btn-primary btn-lg">Colissimo</a>
    </div>
</div>

</body>
</html>
